.User {
    height: 30px;
    position: absolute;
    right: 20px;
    top: 27px;

}

.User__avatar {
    height: 30px;
    width: 30px;
    background: #cccccc;
    border-radius: 100%;
}

.User__button {
    position: absolute;
    right: 37px;
    top: 7px;
}